
%li.step{:class => "color_#{step.sid.split("_").size % 5}", :id => "step_#{step.sid}"}
  = step.instruction.stub
  - step.children.group_by(&:group_id).each do |group_id, children|
    .execution_wrapper
      {
      %button Open
      .execution
        %ol.steps
          - children.each do |child|
            = haml :_step, :locals => {:step => child}
      }