@import ../../../default/assets/stylesheets/_init.sass

#step_view
  ol.steps
    margin-left: 10px
    .step
      border: 1px solid gray
    li.color_1
      background: pink
    li.color_2
      background: aqua
    li.color_3
      background: lightgreen
    li.color_4
      background: yellow
    li.color_0 
      background: lightgray