#sessions
  - @sessions.each do |session|
    .session
      %a{:href => "/sessions/#{session.id}"}= session.name

- if @session
  #steps
    %h2 Slowest Requests
    %ul#slowest
      - @session.slowest_searches.each do |step|
        %li
          = step.instruction.stub
          (took #{step.search_time_ns / 1000000.0} ms)
    %h2 Trace
    = haml :steps