!!!
%html
  %head
    %link{type: "text/css", rel: "stylesheet", href: "/main.css"}/
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
    %script{src: "/application.js", type: "text/javascript"}
  %body
    = yield