

/*  #######################################
    ####### URANIUM WIDGET STYLING ########
    #######################################  */

// Togglers (accordions)
[data-ur-toggler-component="content"] {
  display: none;
  &[data-ur-state="enabled"] {
    display: block;
  }
}

// Tabs
[data-ur-tabs-component="content"] {
  display: none;
  &[data-ur-state="enabled"] {
    display: block;
  }
}

// Simple Carousel
[data-ur-state="hide"] {
  display: none !important;
}

// Carousel
div[data-ur-carousel-component='view_container'] {
  width:100%;
  overflow-x: hidden;
}
div[data-ur-carousel-component="scroll_container"] {
  display:block;
  clear:both;
  > * {
    display:inline-block;
    float:left;
  }
}
a[data-ur-carousel-component="item"] {
  img {
    -webkit-user-drag: none; // needed to work on desktop
  }
}
[data-ur-carousel-component="dots"] {
  text-align:center;
  margin-bottom:10px;
}
[data-ur-carousel-component="dot"] {
  @include border-radius(7px);
  background: black;
  display: inline-block;
  margin: 0 1px;
  opacity: 0.8;
  width: 10px;
  height: 10px; 
  &[data-ur-state="inactive"] {
    opacity: 0.3; 
  }
}

